.main-navbar{
  display: flex;
  height: 100%;
  position: fixed;
  background-color: #3B1E54;
  flex-direction: column;
  padding: 0 10px;
  box-sizing: border-box;
}
.navbar-title{
  font-size: 18px;
  letter-spacing: 1px;
  font-style: italic;
  color: #D4BEE4;
  cursor:default;
}
.navbar-title-span{
  color: #EEEEEE;
}
.navbar-middle-container{
  display: flex;
  width: 90%;
  height: 80%;
  flex-direction: column;
  padding: 0 5%;
}
.navbar-middle-lists{
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
}
.navbar-middle-list-cells{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #EEEEEE;
  cursor: pointer;
  transition: cursor 0.15s, font-weight 0.15s, letter-spacing 0.15s;
}
.navbar-middle-list-cells:hover{
  color: #E91E63;
}
.navbar-middle-list-cells-active{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #E91E63;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: cursor 0.15s, font-weight 0.15ms, letter-spacing 0.15s;
}
.navbar-middle-list-img{
  width: 35px;
  height: 35px;
  filter: invert(59%) sepia(17%) saturate(734%) hue-rotate(246deg) brightness(93%) contrast(93%);
  margin-right: 15px;
}